body{
    text-align:center;
    min-width:1200px;
    /*禁止选中*/
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	/*鼠标样式*/
	cursor: default;
    background-color: #ebebeb;
}
ul li{
    float:left;
    list-style:none;
}
img{
    max-width:1903px;
    border:none;
}
a{
    text-decoration:none;
}
body,ul,li{
    padding:0; margin:0;
}
.clear {
    clear: both;
}
/*顶部菜单和轮播图*/
.top_menu_carousel{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
.top_menu{
    width: 250px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background-color: white;
    float: left;
}
.top_menu .tm_li{
    margin-top: 19px;
    width: 248px;
    height: 40px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.top_menu .tm_li .tm_le{
    line-height:40px;font-size:18px;color: #3c3c3c; margin-left:30px;float: left;
}
.top_menu .tm_li .tm_ri{
    line-height:40px;font-size:18px;color: #3c3c3c;margin-right:35px;float: right;
}
.mask_tm{
    width: 174px;
    height: 501px;
    margin-left:250px;
    position: absolute;
    top: 73px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    z-index: 1;
}
/*顶部轮播图CSS开始*/
.top_carousel{
    width: 940px;
    height: 500px;
    float: right;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-inner{
    border-radius: 10px;
}
.carousel-item{
    width: 940px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}
/*顶部轮播图CSS结束*/
/*动脑课程服务特点CSS开始*/
.bl_gr_re{
    margin:20px auto auto auto;
    text-align:center;
    width:1200px;
    height: 175px;
}
.bl_gr_re ul li:nth-child(1){
    width:374px;
    height:148px;
    background-color:#236efb;
    border-radius:10px;
    margin:20px 24px 0px 15px;
    display: inline-block;
}
.bl_gr_re ul li:nth-child(2){
    width:374px;
    height:148px;
    background-color:#01c9b4;
    border-radius:10px;
    margin:24px 20px 0 0;
    display: inline-block;
}
.bl_gr_re ul li:nth-child(3){
    width:374px;
    height:148px;
    background-color:#f45750;
    border-radius:10px;
    margin: 20px 15px 0px 0px;
    display: inline-block;
}
.bl_gr_re .bgr_img_div{
    width:147px;
    height:100%;
    float:left;
}
.bl_gr_re .bgr_img_div img{
    float:right;
    margin-top:50px;
    margin-right:22px;
}
.bl_gr_re .bgr_words_div{
    width:227px;
    height:100%;
    float:right;
}
.bl_gr_re .bgr_words_div p:nth-child(1){
    font-size:24px;
    font-weight:bold;
    color:#fff;
    padding-top:32px;
    float:left;
}
.bl_gr_re .bgr_words_div .question{
    font-size:14px;
    color:#fff;
    padding-top:15px;
    text-align:left;
}
.bl_gr_re ul li{
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.bl_gr_re ul li:hover{
    margin-top: 10px;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -o-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}
/*动脑课程服务特点CSS结束*/
/*媒体采访和腾讯课堂保障CSS开始*/
.tencent_interview_certification{
    width: 1200px;
    height: 455px;
    margin: 50px auto auto auto;
}
.t_i_c_left{
    width: 593px;
    height: 455px;
    margin-right: 12px;
    float: left;
}
.t_i_c_right{
    width: 595px;
    height: 455px;
    float: right;
}
.t_i_c_left .headings{
    height: 30px;
    width: 593px;
    text-align: left;
    margin-bottom: 17px;
}
.t_i_c_left .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.t_i_c_left .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.t_i_c_left .video{
    width: 593px;
    height: 405px;
}
.video_display{
    width: 593px;
    height:400px;
}
.t_i_c_right .headings{
    height: 30px;
    width: 595px;
    text-align: left;
    margin-bottom: 17px;
}
.t_i_c_right .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.t_i_c_right .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.tencent_course{
    width:595px;
    height:405px;
    border-radius: 10px;
    background-color: white;
}
.tencent_course .t_certificate{
    width:595px;
    height: 405px;
}
.t_certificate .top{
    width: 595px;
    height: 290px;
}
.t_certificate .bottom{
    width: 595px;
    height: 115px;
}
.t_certificate .top .left{
    width: 330px;
    height: 290px;
    margin-right: 20px;
    float:left;
}
.t_certificate .top .right{
    width: 245px;
    height: 290px;
    float:right;
    padding-top: 60px;
}
.t_certificate .top .left table{
    padding-top: 28px;
    padding-left: 24px;
    display: block;
}
.t_certificate .top .left table .tr_one img{
    width: 225px;height: 45px;
}
.t_certificate .top .left table .tr_one td{
    text-align: left;
}
.t_certificate .top .left table .tr_two{
    margin-top: 15px;display: block;line-height: 25px;text-indent:2em ;text-align: left;
}
.t_certificate .top .left table .tr_two td p{
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color: #505050;
}
.t_certificate .top .right img{
    width: 210px;height: 230px;
}
.t_certificate .bottom{
    padding-top: 30px;
}
.t_certificate .bottom p{
    font-family: "Microsoft YaHei";
    text-align: center;
    font-size: 15px;
    color: #505050;
    font-weight:bold;
    line-height: 25px;
}
/*媒体采访和腾讯课堂保障CSS结束*/
/*课程介绍CSS开始*/
.course_div{
    width:1201px;
    margin:62px auto auto auto;
}
.course_div .headings{
    height: 30px;
    width: 1200px;
    text-align: left;
    margin-bottom: 17px;
}
.course_div .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.course_div .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.course_div li{
    text-align: left;
    width:292px;
    height:324px;
    border:1px solid #cacaca;
    position: relative;
}
.course_div .div_one{
    width:1201px;
    height:324px;
}
.course_div .dvi_two{
    margin-top:50px;
    width:1201px;
    height:324px;
}
.course_div .cd_ul_one .one, .course_div .cd_ul_two .two{
    margin-right:11px;
}
.course_div .word_div{
    margin-top:12px;
    margin-left:8px;
}
.course_div .word_div span{
    min-width:150px;
}
.course_div .word_div .p_one{
    font-size:20px;
    font-weight:bold;
}
.course_div .word_div .p_two{
    font-size:15px;
    color:#505050;
    margin-top:4px;
}
.course_div .word_div div{
    margin-top:30px;
}
.course_div .word_div div span{
    font-size:20px;
    color:#7c7c7c;
    margin-left:4px;
    line-height:19px;
}
.course_div .word_div div img{
    vertical-align: bottom;
    width: 20px;
}
.course_div .mask_div{
    margin-top: -309px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #000000;
    opacity: 0;
}
.mask_li:hover  .mask_div {
    opacity: 0.7;
}
.mask_div a{
    text-decoration:none;
}
.mask_div .free_course_div{
    width:152px;
    height:34px;
    margin:40px auto 22px auto;
    border: 1px solid #7897ff;
    border-radius:4px
}
.mask_div .free_course_div P{
    font-size:18px;
    color:#7897ff;
    line-height:30px;
}
.mask_div .vip_course_div{
    width:152px;
    height:34px;
    margin:0 auto;
    border: 1px solid #eee;
    border-radius:4px
}
.mask_div .vip_course_div p{
    font-size:18px;
    color:#eee;
    line-height:30px;
}
.mask_div .course_in_div{
    width:152px;
    height:34px;
    margin:22px auto 22px auto;
    border: 1px solid #eee;
    border-radius:4px
}
.mask_div .course_in_div p{
    font-size:18px;
    color:#eee;
    line-height:30px;
}
/*课程介绍CSS结束*/
/*0基础文字部分CSS开始*/
.middle_blue_img{
    height:645px;
    width:1200px;
    margin: 68px auto auto auto;
    text-align:center;
}
.middle_blue_img .zero_basic{
    text-align:center;
}
.middle_blue_img .zero_basic span{
    font-family: "Microsoft YaHei";
    font-size:51px;
    color: rgba(60, 60,60,0.97);
    font-weight:bold;
    line-height:100%;
}
.middle_blue_img .depend_basic{
    padding-top:24px;
    text-align:center;
}
.middle_blue_img .depend_basic span{
    font-family: "Microsoft YaHei";
    font-size:39px;
    color:#355de6;
    line-height:100%;
    font-weight:bold;
}
.blu_bc_middle{
    margin:31px auto auto auto;
    width:1200px;
    height:500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
}
/*0基础文字部分CSS结束*/
/*导师团队轮播图CSS开始*/
.tutors_team_carousel{
    margin:50px auto auto auto;
    height:512px;
    width:1200px;
}
.tutors_team_carousel .headings{
    height: 30px;
    width: 1200px;
    text-align: left;
    margin-bottom: 17px;
}
.tutors_team_carousel .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.tutors_team_carousel .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.tutors_team_carousel .team_box{
    width:1200px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    _height:100%;
}
.tutors_team_carousel .picbox{
    width:1200px;
    height:409px;
    overflow:hidden;
    position:relative;
}
.tutors_team_carousel .piclist{
    height:409px;
    position:absolute;
    left:0px;
    top:0px;
}
.tutors_team_carousel .piclist li{
    background-color: #345be1;
    margin:0 5px;
    float:left;
}
.tutors_team_carousel .piclist #picbox_img{
    width:235px;
    height:252px;
}
/*.tutors_team_carousel .og_prev,.og_next{
    width:30px;
    height:50px;
    background:url(../img/homePage/icon.png) no-repeat;
    background:url(../img/homePage/icon_ie6.png) no-repeat\9;
    position:absolute;
    top:180px;
    z-index:99;
    cursor:pointer;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.tutors_team_carousel .og_prev{
    background-position:0 -60px;
    left:4px;
}
.tutors_team_carousel .og_next{
    background-position:0 0;
    right:4px;
}*/
.tutors_team_carousel .introduce_div{
    width: 215px;
    height: 157px;
    margin:0 10px;
    text-align: center;
    padding-top: 8px
}
.tutors_team_carousel .name_position_span{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px
}
.tutors_team_carousel .name_span{
    font-size: 23px;
    font-weight: bold;
    color: #eeeeee
}
.tutors_team_carousel .position_span{
    font-size: 11px;
    color: #eeeeee
}
.tutors_team_carousel .introduce_div p{
    font-size: 12px;
    line-height: 20px;
    color: #eeeeee;
    text-indent:2em;
    text-align: left;
    margin-top:12px;
}
/*导师团队轮播图CSS结束*/
/*学员展示轮播图CSS开始*/
.student_show{
    margin-top:50px;
    height:589px;
    width: 100%;
}
.student_show .headings{
    height: 30px;
    width: 1200px;
    text-align: left;
    margin: 0px auto 17px auto;
}
.student_show .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.student_show .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.student_show_crousel{
    margin:0px auto auto auto;
    height:542px;
    width:100%;
    text-align:center;
    background:url('../img/homePage/bbg2.jpg');
}
.wrap_scroll{
    width:1200px;
    height:542px;
    position:relative;
    margin:22px auto auto auto;
}
.wrap_scroll .arrow span{
    position:absolute;
    top:100px;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#000;
    font-size:70px;
}
.wrap_scroll .arrow .arrow_left{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    transform: rotate(-45deg);
    cursor: pointer;
    left:366px;
}
.wrap_scroll .arrow .arrow_right{
    width: 20px;
    height: 20px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: transparent;
    right:366px;
}
.scroll{
    position:relative;
    width:500px;
    height:322px;
    overflow:hidden;
    margin:20px auto auto auto;
    padding-top:66px;
}
.scroll ul{
    width:3500px;
    height:322px;
    position:absolute;
}
.scroll ul li{
    width:500px;
    height:322px;
    float:left;
}
.scroll ul li .head_img{
    width:132px;
    height:132px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border:1px solid black;
}
.scroll ul li .head_img img{
    margin-top:5px;
}
.scroll ul li .des{
    width:100%;
    text-align:center;
}
.scroll ul li .des .title{
    font-size:22px;
    margin-top:22px;
}
.scroll ul li .des .company{
    font-size:16px;
    margin-top:10px;
}
.scroll ul li .des .pay{
    font-size:20px;
    margin-top:10px;
}
.scroll ul li .des .pay span{
    font-size:24px;
    color:red;
    font-weight:bold;
}
.wrap_scroll .tab{
    width:1200px;
    height:70px;
    margin:56px auto auto auto;
}
.wrap_scroll .tab .tab_list{
    width:197px;
    height:72px;
    float:left;
    background:#e1e1e1;
    margin-right:3px;
    transition:all .5s;
}
.wrap_scroll .tab .active{
    background:#ec6c00;
}
/*学员展示轮播图CSS结束*/
/*技术交流与学院动态CSS开始*/
.tech_comut_dn_dynam{
    width: 1200px;
    height: 370px;
    margin: 50px auto auto auto;
}
.t_c_d_d_left{
    width: 741px;
    height: 370px;
    margin-right: 11px;
    float: left;
}
.t_c_d_d_right{
    width: 448px;
    height: 370px;
    float: right;
}
.t_c_d_d_left .headings{
    height: 30px;
    width: 741px;
    text-align: left;
}
.t_c_d_d_left .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.t_c_d_d_left .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.t_c_d_d_right .headings{
    height: 30px;
    width: 448px;
    text-align: left;
    margin-bottom: 20px;
}
.t_c_d_d_right .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.t_c_d_d_right .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.technique_articles{
    height: 320px;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
}
.t_a_box{
    margin-left: 10px;
    padding-top: 45px;
    height: 320px;
    width: 731px;
}
.t_a_box .t_a_b_1{
    width: 100%;height: 22px;
}
.t_a_box .t_a_b_1 a{
    padding-top: 45px;
}
.t_a_box .t_a_b_1 a #d1{
    width:57px;height: 22px;background-color: #345be1;border-radius: 5px;float: left
}
.t_a_box .t_a_b_1 a #d1 span{
    color: #d7d7d7;font-size: 20px;line-height: 21px;
}
.t_a_box .t_a_b_1 a #d2{
    width: 664px;float: right;text-align: left;margin-left: 10px
}
.t_a_box .t_a_b_1 a #d2 span{
    color: #505050;font-family: 'Microsoft Yahei';
}
.t_a_box .t_a_b_2{
    height: 200px;width: 387px;margin-top: 35px;float: left;
}
.t_a_box .t_a_b_2 a{
    display: block; margin-bottom: 36px;width: 387px;height: 20px;
}
.t_a_box .t_a_b_2 a #d1{
    float:left; width: 83px;border: 1px solid #b6b6b6;border-radius: 5px;text-align: center;
}
.t_a_box .t_a_b_2 a #d1 span{
    font-family: 'Microsoft Yahei';color: #345be1;font-size: 16px;line-height: 15px;
}
.t_a_box .t_a_b_2 a #d2{
    float: right;width: 294px;text-align: left
}
.t_a_box .t_a_b_2 a #d2 span{
    font-family: 'Microsoft Yahei';color: #505050;font-size: 16px
}
.t_a_box .t_a_b_3{
    margin-top: 50px;margin-right:10px;width: 318px;height: 166px;border-radius: 8px;float: right;overflow: hidden;
}
.dn_dynamics_articles{
    height: 320px;
    width: 100%;
    border-radius: 8px;
    background-color: white;
}
.dn_dynamics_articles #d_d_a_top{

}
/*技术交流与学院动态CSS结束*/
/*学员心声CSS开始*/
.student_voice{
    margin:64px auto auto auto;
    width:1200px;
    height:346px;
}
.student_voice .student_voice_item{
    float: left;
    width: 395px;
    height: 346px;
    background: rgb(227,227,227);
    border: 7px #fafafa solid;
    box-sizing: border-box;
}
.student_voice_item .student_voice_item_header{
    height: 78px;
    width: 100%;
    background: rgb(168,168,168);
    position: relative;
    z-index: 99;
}
.student_voice_item_header>span{
    display: block;
    color: #fff;
}
.student_voice_item_header>span:nth-child(1){
    font: normal bold 25px/50px arial,sans-serif;
    height: auto;
}
.student_voice_item:hover .student_voice_item_header{
	 background: rgb(30,120,196);
}
.student_voice_item:hover .student_voice_item_content li>span:nth-child(1){
    color: rgb(30,120,196);
    border: 1px solid rgb(30,120,196);
}
.student_voice_item .student_voice_item_content{
    color: rgb(80,80,80);
    height: 268px;
    overflow: hidden;
}
.student_voice_item_content li{
    height: 30%;
    margin: 0 20px;
}
.student_voice_item_content li:nth-child(1){
    margin-top: 30px;
}
.student_voice_item_content li:nth-child(3){
    margin-bottom: 30px;
}
.student_voice_item_content li>span{

}
.student_voice_item_content li>span:nth-child(1){
   	height: 22px;
    width: 72px;
    border: 1px solid rgb(80,80,80);
    display: inline-block;
    position: relative;
}
.student_voice_item_content li a{
    cursor: pointer;
    color: rgb(80,80,80);
    text-align: left;
    width: 256px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    float: right;
    cursor: pointer;
}
.student_voice_item_content li a:hover{
    text-decoration: none;
    color: rgb(30,120,196);
}
.student_voice_item_content li>span:nth-child(3){
    float: right;
    position: relative;
    right: 20px;
}
/*学员心声CSS结束*/
/*办公环境CSS开始*/
.office_environment{
    width: 1200px;
    height: 308px;
    margin: 50px auto auto auto;
}
.office_environment .headings{
    height: 30px;
    width: 593px;
    text-align: left;
    margin-bottom: 17px;
}
.office_environment .headings #one{
    font-family: "Microsoft YaHei" ;
    font-size: 25px;
    color: #666666;
    line-height: 100%;
}
.office_environment .headings #two{
    font-family: "Microsoft YaHei" ;
    font-size: 15px;
    color: #666666;
}
.office_environment .o_e{
    display: block;
    width: 1200px;
    height: 261px;
    min-height: 1px;
    background: #fff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.o_e_img_box{
    width: 1180px;
    height: 261px;
    margin: 17px 10px;
    overflow:hidden;
}
.o_e_img_box ul li{
    float: left;
    padding: 0 5px;
}
/*办公环境CSS结束*/
/*底部企业合作CSS开始*/
.talent_output{
    margin-top:50px;
    height:412px;
    width:100%;
    text-align:center;
    background:url('../img/homePage/bg3.jpg');
}
.t_o_heading{
    padding-top:56px;
    margin:auto auto;
    width:1200px;

}
.t_o_heading ul:nth-child(1) li:nth-child(1),.t_o_heading ul:nth-child(1) li:nth-child(3){
    line-height:100%;
    width:384px;
}
.t_o_heading ul:nth-child(1) li:nth-child(1) div{
    width:384px;
    height:1px;
    background-color:#fff;
    margin-top:20px;
}
.t_o_heading ul:nth-child(1) li:nth-child(3) div{
    width:384px;
    height:1px;
    background-color:#fff;
    margin-top:20px;
}
.t_o_heading ul:nth-child(1) li:nth-child(2){
    margin-left:52px;
    margin-right:52px;
}
.t_o_heading ul:nth-child(1) li:nth-child(2) span{
    font-size:32px;
    color:#fff;
    line-height:100%;
}
#t_o_heading_two_ul{
    margin:12px auto auto auto;
}
#t_o_heading_two_ul li{
    width:1200px;
}
#t_o_heading_two_ul li span{
    font-size:16px;
    color:#fff;
}
.cooperationCompany{
    padding-top:66px;
    width:1200px;
}
/*底部企业合作CSS结束*/
/*悬浮按钮CSS开始*/
.suspension{
    z-index: 9999;
    position: fixed ! important;
    right: 0px;
    top: 0px;
    margin-top: 350px;
    width: 160px;
}
.suspension .sup_left{
    height: 350px;
    width:80px;
    float: left;
}
.suspension .sup_right{
    height: 350px;
    width:80px;
    margin-left: 80px;
}
.suspension .sup_left img{
    width: 80px;
    margin-top: 175px;
}
.suspension .sup_right ul .b{
    height: 134px;
}
.suspension .sup_right ul .a{
    height: 51px;
}
.suspension .sup_right img{
    width: 80px;
}
/*悬浮按钮CSS结束*/